@media (max-width: 1024px) {
  #experience.container {
    height: 80vh;
  }
  footer {
    height: 25vh;
  }
  .theme-toggle-item button {
    font-size: 10px;
  }

  nav a {
    font-size: 15px;
  }
  #skills.container {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .main-about-flex {
    flex-direction: column;
    text-align: center;
  }
  img {
    max-width: 250px;
  }

  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar {
    left: 90%;
    top: 11%;
  }

  .navbar button {
    padding: 2px 5px;
    margin: 0 2px;
    min-width: 10px;
    border: none;
  }
  nav ul {
    display: table-column;
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #hamburger.hamburger {
    padding: 10px;
  }
  .theme-toggle-item button {
    font-size: 15px;
  }
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    display: none;
  }
  .nav-links.active {
    display: flex;
  }

  #experience.container {
    height: 100vh;
  }
  .experience-box {
    flex-direction: row;
    gap: 5px;
    text-align: center;
  }
  .experience-box h3 {
    font-size: small;
    padding-top: 15px;
  }
  .experience-box p {
    font-size: 12px;
    padding-bottom: 15px;
  }
  #skills.container {
    align-items: center;
  }

  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none;
  }
  .skills-list li {
    font-size: small;
  }
  #projects {
    height: 30vh;
  }
  footer {
    height: 30vh;
  }
  p {
    font-size: large;
    color: black;
  }
  .connect-socials {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 465px) {
  .hamburger {
    font-size: 10px;
    min-width: 8px;
  }
  .experience-box {
    flex-direction: row;
    gap: 5px;
    text-align: center;
  }
  #experience.container {
    height: 90vh;
  }
  #skills.container {
    align-items: center;
    height: 50vh;
  }
}
#projects li {
  margin-bottom: 5px;
}
p {
  font-size: 15px;
}
#leaveMessage {
  margin-top: 60px;
}
