@media (max-width: 1400px) {
  #experience.container {
    height: 120vh;
  }
  .theme-toggle-item button {
    font-size: 15px;
  }
  .dark-theme .theme-toggle-item button {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  #experience.container {
    height: 110vh;
  }
  footer {
    height: 40vh;
  }
  .theme-toggle-item button {
    font-size: 14px;
  }
  .dark-theme .theme-toggle-item button {
    font-size: 14px;
  }
  #leaveMessage {
    margin-top: 10px;
  }
  nav a {
    font-size: 15px;
  }
  #skills.container {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .main-about-flex {
    flex-direction: column;
    text-align: center;
  }
  img {
    max-width: 250px;
  }

  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navbar {
    left: 90%;
    top: 11%;
  }

  .navbar button {
    padding: 2px 5px;
    margin: 0 2px;
    min-width: 10px;
    border: none;
  }
  nav ul {
    display: table-column;
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #hamburger.hamburger {
    padding: 10px;
  }
  .theme-toggle-item button {
    font-size: 15px;
  }
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    display: none;
  }
  .nav-links.active {
    display: flex;
  }

  #experience.container {
    height: 130vh;
  }
  .experience-box {
    flex-direction: row;
    gap: 5px;
    text-align: center;
  }
  .experience-box h3 {
    font-size: 15px;
    padding-top: 15px;
  }
  .experience-box p {
    font-size: 12px;
    padding-bottom: 15px;
  }
  #skills.container {
    align-items: center;
  }

  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none;
  }
  .skills-list li {
    font-size: 15px;
  }

  footer {
    height: 28vh;
  }
  p {
    font-size: 20px;
    color: black;
  }
  .connect-socials {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 465px) {
  .hamburger {
    font-size: 15px;
    min-width: 8px;
  }
  .theme-toggle-item button {
    font-size: 15px;
  }
  .experience-box {
    flex-direction: row;
    gap: 5px;
    text-align: center;
  }
  #experience.container {
    height: 160vh;
  }
  #skills.container {
    align-items: center;
    height: 50vh;
  }
  p {
    font-size: 15px;
    color: black;
  }
  #leaveMessage {
    margin-top: 20px;
  }
  footer {
    height: 35vh;
  }
}
